<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="card">
                <h4 style="text-align: center;">{{game.status}}</h4>
                <div class="life-container">
                    <div>
                        <h4>Jogador</h4>
                        <div class="bar">
                            <div class="bar-green" :class="player.life < 20 && 'bar-red'" :style="{width: player.life + '%'}"></div>
                        </div>
                        <span>{{player.life}}</span>

                    </div>
                    <div>
                        <h4>
                            Monstro
                        </h4>   
                        <div class="bar">
                            <div class="bar-green" :class="monster.life < 20 && 'bar-red'" :style="{width: monster.life + '%'}"></div>
                        </div>
                        <span>{{monster.life}}</span>

                    </div>
                </div>
                <div class="buttons">
                    <template v-if="game.status === 'paused'">
                        <button @click="game.status = 'start'">Inciar o jogo</button>
                    </template>
                    <template v-else-if="game.status === 'Você perdeu : (' || game.status === 'Você ganhou :)'">
                        <button @click="restartGame">Reiniciar</button>
                    </template>
                    <template v-else>
                        <button @click="attackMonster('normal')">Atacar</button>
                        <button @click="attackMonster('super')">Ataque especial</button>
                        <button @click="attackMonster('heal')">Curar</button>
                    </template>
                </div>
            </div>
            <br>
            <br>
            <div >
            </div>
            <template v-if="game.status !== 'paused'">
                <div class="card" >
                    <h4 style="text-align: center;">Relatorio de batalha</h4>
                    <div>
                        <div v-for="log in logs">
                            <p v-if="log.monsterValue" id="moster-attack">O ataque do monstro foi de {{log.monsterValue}}</span>
                            <p v-if="log.playerValue" id="player-attack">O ataque do jogador foi de {{log.playerValue}}</span>
                            <p v-if="log.playerHeal" id="player-heal">A cura do jogador foi de {{log.playerHeal}}</span>
                        </div>
                    </div>  
                </div>
            </template>
        </div>
    </div>
</body>
<script src="./app.js"></script>
</html>